@use '../abstracts';

/**
 * Basic typography style for copy text
 */
body {
  font-family: abstracts.$text-font-stack;
  color: abstracts.$text-color;
  // font: normal 125% / 1.4 abstracts.$text-font-stack;
}
