@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    color: white;
    background-color: abstracts.$dark-blue;
    border-radius: 30px;
}