@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    display: inline-block;
    padding: .8rem 2rem;
    color: white;
    background-color: abstracts.$dark-blue;
    border-radius: 30px;
    font-weight: 200;

    &:hover {
        background-color: abstracts.$btn-hover;
    }
}