@use '../abstracts';

.bg-layout {
    position: relative;
    background-image: linear-gradient(to right, abstracts.$gray 63%, abstracts.$green 63%);
    height: 75vh;

    &::before {
        content: '';
        position: absolute;
        top: 8%;
        right: 18%;
        width: 500px;
        height: 500px;
        background-image: url(../../../img/flor-loto.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}