@use '../abstracts';

.bg-layout {
    position: relative;
    background-image: linear-gradient(to right, abstracts.$gray 63%, abstracts.$green 63%);
    height: 75vh;

    &::before {
        content: '';
        position: absolute;
        top: 5%;
        right: 15%;
        width: 550px;
        height: 510px;
        background-image: url(../../../img/flor-loto.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}