@use '../abstracts';
@use '../components/button';

.flex {
    display: flex;
}

.hero {
    @extend .flex;
    position: relative;

    &__content {
        flex: 2;

        &--title {
            font-size: 52px;
            line-height: 60px;
            margin-bottom: 32px;
            width: 650px;
            color: abstracts.$dark-blue;
        }

        &--text {
            font-size: 18px;
            line-height: 32px;
            width: 600px;
            margin-bottom: 56px;
        }

        &--button {
            @extend .flex;
            margin-bottom: 90px;

            &__btn1 {
                @extend .btn;
                margin-right: 42px;
                font-size: 14px;
            }

            &__btn2 {
                padding: 12px 60px;
                position: relative;
                font-size: 14px;
    
                &::before {
                    content: '';
                    width: 20px;
                    height: 21px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-image: url(../../../img/play.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    padding: 12px;
                    background-color: white;
                    border-radius: 50%;
                    box-shadow: 8px 40px 80px grey;
                }
            }
        }

        &--items {
            background-color: white;
            @include abstracts.flex(space-between, center, 50px);
            width: 50%;
            padding: 30px 20px;
            border-radius: 20px;
            text-align: center;

            img {
                background-color: abstracts.$green;
                width: 50px;
                padding: 5px;
                border-radius: 50%;
                margin-bottom: 12px;
            }

            h3 {
                font-size: 30px;
                font-weight: 500;
                color: abstracts.$dark-blue;
                margin-bottom: 8px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    &__texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        z-index: 2;
        gap: 50px;

        & div {
            width: 60%;
            background-color: rgba(255, 255, 255, 0.563);
            backdrop-filter: blur(6px);
            padding: 20px;
            border-radius: 16px;
            color: abstracts.$dark-blue;

            img {
                width: 25px;
            }

            p {
                margin-bottom: 8px;
                font-size: 14px;
            }

            h4 {
                font-size: 14px;
            }
        }

        &--uno {
            align-self: flex-end;
        }

        &--dos {
            margin-left: 70px;
        }
    }
}